# Wrangling and Cleaning of all raw data

In [1]:
import pandas as pd
import os

## Wrangling External Data

Let us first analyze the format of all external datasets:

In [2]:
electricity_access = pd.read_csv("../data/external/electricity-access.csv", skiprows =4)

In [3]:
electricity_access

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.900000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500000,97.700000,97.700000,93.400000,97.700000,97.700000,97.700000,85.300000,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.758739,50.906115,48.789457,51.211055,51.168083,51.730899,54.224724,55.437577,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.000000,41.800000,42.900000,45.300000,45.600000,47.000000,48.200000,48.500000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.400000,68.900000,79.200000,62.000000,72.800000,73.900000,74.900000,76.000000,NaN,NaN
263,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.300000,83.900000,84.400000,84.700000,85.000000,90.000000,89.300000,86.500000,NaN,NaN
264,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.100000,35.400000,40.300000,40.200000,43.000000,44.600000,46.700000,47.800000,NaN,NaN
265,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.700000,42.500000,44.000000,45.400000,46.700000,52.700000,49.000000,50.100000,NaN,NaN

In [4]:
electricity_access.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

Let's see a couple other datasets too:

In [5]:
fdi = pd.read_csv("../data/external/fdi.csv", skiprows =4)
fdi

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.907264,0.923398,5.253373,4.399822,-2.215283,6.294368,4.303487,7.000585,NaN,NaN
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.195805,2.017779,1.076353,1.337747,1.497207,1.481455,5.038473,1.718270,NaN,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.884000,0.516606,0.274797,0.661572,0.124496,0.064994,0.144401,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.033252,2.013496,2.575635,2.016799,1.511376,1.448811,2.008478,1.738454,NaN,NaN
4,Angola,AGO,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.081339,-0.340243,-10.038377,-8.125891,-5.780813,-3.848264,-6.548542,-6.320564,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.453604,3.648046,3.994494,4.043060,3.608747,5.113617,5.321433,8.168575,NaN,NaN
262,"Yemen, Rep.",YEM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.036388,-1.791312,-1.005319,-1.305638,-1.694944,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.438736,0.684613,0.539674,1.374291,1.314078,0.932200,9.677949,2.268806,NaN,NaN
264,Zambia,ZMB,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.447417,3.162520,4.280501,1.552319,2.350919,1.351906,1.784078,-0.223287,NaN,NaN
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.999687,1.669274,1.746885,2.101721,1.142806,0.699034,0.881174,1.247870,NaN,NaN

Now we need all these metrics specifically for India. So first we will create a dataframe.

In [6]:
combined_economic_indicators = pd.DataFrame(columns=electricity_access.columns)

In [7]:
# combined_economic_indicators.columns = electricity_access.columns
combined_economic_indicators

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, Unnamed: 68]
Index: []

[0 rows x 69 columns]

In [8]:
india_row = electricity_access[electricity_access["Country Name"] == "India"]

In [9]:
combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\98932846.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

In [10]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,89.6,91.8,95.7,95.9,96.5,99.6,99.2,NaN,NaN

Since all these datasets are of the same format, we can append only the data pertaining to India from each dataset to this dataframe using an iterator.

In [11]:
external_data_files = os.listdir("../data/external/")

In [12]:
for file in external_data_files:
    df = pd.read_csv(f"../data/external/{file}", skiprows=4)
    print(file)
    india_row = df[df["Country Name"] == "India"]
    combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)
    # combined_economic_indicators = pd.concat([combined_economic_indicators, df], ignore_index=True)

electricity-access.csv
FDI.csv
gdp growth.csv
gdp-per-capita.csv
gdp.csv
gov-debt.csv
inflation.csv
net-migration.csv
poverty-headcount.csv
SPI.csv
unemployment.csv
women-parliament.csv

In [13]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
2,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
3,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
4,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
5,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
6,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
7,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
8,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
9,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
10,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
11,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
12,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

In [14]:
combined_economic_indicators = combined_economic_indicators.drop(index = 0)
combined_economic_indicators = combined_economic_indicators.reset_index(drop=True)
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
2,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
3,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
4,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
5,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
6,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
7,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
8,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
9,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
10,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
11,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

# Cleaning external data:

In [15]:
combined_economic_indicators = combined_economic_indicators.drop(columns = ["Country Name", "Country Code","Indicator Code", "Unnamed: 68"])
combined_economic_indicators

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

In [16]:
#exporting this dataframe to a csv file
combined_economic_indicators.to_csv('../data/processed/combined_economic_indicators.csv', index=False)

In [17]:
df = pd.read_csv("../data/processed/combined_economic_indicators.csv")
df

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

# Wrangling and Cleaning Candidate List

In [18]:
cand_list_2024 = pd.read_csv("../data/raw/candidates-2024.csv")

In [19]:
cand_list_2024.tail()

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Photo Link,Phase,Polling Date
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...","22nd April, 2024",Accepted,SRI MRIGANK BANERJEE,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...","23rd April, 2024",Accepted,Devraj Sarkar,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...","20th April, 2024",Accepted,BIJOY KR. MUDI,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...","19th April, 2024",Accepted,LATE BAIDYANATH SARKAR,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...","18th April, 2024",Accepted,MADAN GHATAK,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00

In [20]:
cand_list_2024.drop('Photo Link', axis=1,inplace=True)

In [21]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,"27th March, 2024",Accepted,V.M. KOCHUNNI,1,2024-04-19T00:00:00
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...","27th March, 2024",Accepted,S B GURUNG,1,2024-04-19T00:00:00
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj","27th March, 2024",Accepted,N N MONDAL,1,2024-04-19T00:00:00
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...","27th March, 2024",Accepted,BHAGAT SINGH,1,2024-04-19T00:00:00
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo","27th March, 2024",Accepted,RAMNATH ARLEKAR,1,2024-04-19T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...","22nd April, 2024",Accepted,SRI MRIGANK BANERJEE,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...","23rd April, 2024",Accepted,Devraj Sarkar,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...","20th April, 2024",Accepted,BIJOY KR. MUDI,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...","19th April, 2024",Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...","18th April, 2024",Accepted,MADAN GHATAK,4,2024-05-13T00:00:00

In [22]:
cand_list_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8441 entries, 0 to 8440
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    8441 non-null   int64
 1   State                  8441 non-null   object
 2   Constituency_No        8441 non-null   int64
 3   Constituency           8441 non-null   object
 4   Party                  8441 non-null   object
 5   Candidate Name         8441 non-null   object
 6   Gender                 8441 non-null   object
 7   Age                    8441 non-null   int64
 8   Address                8441 non-null   object
 9   Application Date       8441 non-null   object
 10  Application Status     8441 non-null   object
 11  Father/Husband's Name  8441 non-null   object
 12  Phase                  8441 non-null   int64
 13  Polling Date           8441 non-null   object
dtypes: int64(4), object(10)
memory usage: 923.4+ KB

Let us change the date format of both the date columns.

In [23]:
import re

# Define a function to clean the 'th', 'rd', 'st', and 'nd' from the date
def clean_date(date_str):
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)

# Apply the function to clean the 'Election Date' column
cand_list_2024['Application Date'] = cand_list_2024['Application Date'].apply(clean_date)

# Convert the cleaned 'Election Date' column to datetime
cand_list_2024['Application Date'] = pd.to_datetime(cand_list_2024['Application Date'], format='%d %B, %Y')

# View the result

In [24]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,2024-03-27,Accepted,V.M. KOCHUNNI,1,2024-04-19T00:00:00
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...",2024-03-27,Accepted,S B GURUNG,1,2024-04-19T00:00:00
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj",2024-03-27,Accepted,N N MONDAL,1,2024-04-19T00:00:00
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...",2024-03-27,Accepted,BHAGAT SINGH,1,2024-04-19T00:00:00
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo",2024-03-27,Accepted,RAMNATH ARLEKAR,1,2024-04-19T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...",2024-04-22,Accepted,SRI MRIGANK BANERJEE,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...",2024-04-23,Accepted,Devraj Sarkar,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...",2024-04-20,Accepted,BIJOY KR. MUDI,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...",2024-04-19,Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...",2024-04-18,Accepted,MADAN GHATAK,4,2024-05-13T00:00:00

In [25]:
cand_list_2024['Polling Date'] = pd.to_datetime(cand_list_2024['Polling Date'])

In [26]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,2024-03-27,Accepted,V.M. KOCHUNNI,1,2024-04-19
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...",2024-03-27,Accepted,S B GURUNG,1,2024-04-19
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj",2024-03-27,Accepted,N N MONDAL,1,2024-04-19
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...",2024-03-27,Accepted,BHAGAT SINGH,1,2024-04-19
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo",2024-03-27,Accepted,RAMNATH ARLEKAR,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...",2024-04-22,Accepted,SRI MRIGANK BANERJEE,4,2024-05-13
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...",2024-04-23,Accepted,Devraj Sarkar,4,2024-05-13
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...",2024-04-20,Accepted,BIJOY KR. MUDI,4,2024-05-13
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...",2024-04-19,Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...",2024-04-18,Accepted,MADAN GHATAK,4,2024-05-13

Dropping other irrelavant columns:

In [27]:
cand_list_2024.drop(["Address","Father/Husband's Name"], axis=1,inplace=True)

In [28]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Application Date,Application Status,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,2024-03-27,Accepted,1,2024-04-19
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,2024-03-27,Accepted,1,2024-04-19
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,2024-03-27,Accepted,1,2024-04-19
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,2024-03-27,Accepted,1,2024-04-19
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,2024-03-27,Accepted,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,2024-04-22,Accepted,4,2024-05-13
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,2024-04-23,Accepted,4,2024-05-13
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,2024-04-20,Accepted,4,2024-05-13
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,2024-04-19,Accepted,4,2024-05-13
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,2024-04-18,Accepted,4,2024-05-13

In [29]:
# Count rows where 'Application Status' is not 'Accepted'
print(cand_list_2024[cand_list_2024['Application Status'] != 'Accepted'].shape[0])

0

Since there are no entries with Application Status other than Accepted we will drop this column too. Along with that let us also drop the _id column.

In [30]:
cand_list_2024.drop(["_id","Application Status"], axis=1,inplace=True)

In [31]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Application Date,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,2024-03-27,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,2024-03-27,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,2024-03-27,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,2024-03-27,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,2024-03-27,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,2024-04-22,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,2024-04-23,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,2024-04-20,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,2024-04-19,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,2024-04-18,4,2024-05-13

The column Application isn't very important so let's drop this column too.

In [32]:
cand_list_2024.drop(["Application Date"], axis=1,inplace=True)

In [33]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,1,2024-04-19
...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,4,2024-05-13

In [34]:
cand_list_2024['Gender'].unique()

array(['male', 'female', 'third'], dtype=object)

In [35]:
cand_list_2024['Gender'].nunique()

3

In [36]:
gender_counts = cand_list_2024['Gender'].value_counts()

print(gender_counts)

Gender
male      7634
female     801
third        6
Name: count, dtype: int64

In [37]:
cand_list_2024['Gender'] = cand_list_2024['Gender'].replace({'male': 'M', 'female': 'F', 'third gender': 'O'})

In [38]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,M,42,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,F,39,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,F,36,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,M,56,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,M,58,1,2024-04-19
...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,F,55,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,F,49,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,M,43,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,M,68,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,F,53,4,2024-05-13

In [39]:
cand_list_2024.columns

Index(['State', 'Constituency_No', 'Constituency', 'Party', 'Candidate Name',
       'Gender', 'Age', 'Phase', 'Polling Date'],
      dtype='object')

In [40]:
cand_list_2024.drop(["Phase","Polling Date"], axis=1,inplace=True)

In [41]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,M,42
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,F,39
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,F,36
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,M,56
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,M,58
...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,F,55
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,F,49
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,M,43
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,M,68
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,F,53

In [42]:
cand_list_2024 = cand_list_2024[['Candidate Name', 'Party', 'Age','Gender', 'State',  'Constituency', 'Constituency_No' ]]
cand_list_2024

,Candidate Name,Party,Age,Gender,State,Constituency,Constituency_No
0,V.K. ABDUL AZIZ,Independent,42,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
1,USHA KUMARI,Independent,39,F,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
2,RINKU MALA MONDAL,Independent,36,F,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
3,KULDEEP RAI SHARMA,Indian National Congress,56,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
4,ANAND RAMNATH ARLEKAR,Independent,58,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
...,...,...,...,...,...,...,...
8436,SATABDI ROY,All India Trinamool Congress,55,F,West Bengal,Birbhum,42
8437,DOLA SARKAR,Indian National Socialistic Action Forces,49,F,West Bengal,Birbhum,42
8438,SAURAV MUDI,Independent,43,M,West Bengal,Birbhum,42
8439,RAJNATH SARKAR,Bahujan Samaj Party,68,M,West Bengal,Birbhum,42
8440,AYESHA KHATUN,Socialist Unity Centre Of India (COMMUNIST),53,F,West Bengal,Birbhum,42

In [43]:
cand_list_2024.to_csv("../data/processed/candidates_list_2024.csv", index=False)

Let's do the same for 2019 candidate list:

In [44]:
cand_list_2019 = pd.read_csv("../data/raw/candidates-till-2019.csv")

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\2972201247.py:1: DtypeWarning: Columns (17,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  cand_list_2019 = pd.read_csv("../data/raw/candidates-till-2019.csv")

In [45]:
cand_list_2019

,State_Name,Assembly_No,Constituency_No,Year,month,Poll_No,DelimID,Position,Candidate,Sex,...,No_Terms,Turncoat,Incumbent,Recontest,MyNeta_education,TCPD_Prof_Main,TCPD_Prof_Main_Desc,TCPD_Prof_Second,TCPD_Prof_Second_Desc,Election_Type
0,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,1,KULDEEP RAI SHARMA,M,...,1.0,False,False,True,Graduate Professional,Business,NaN,Social Work,NaN,Lok Sabha Election (GE)
1,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,2,VISHAL JOLLY,M,...,0.0,False,False,False,Graduate Professional,Liberal Profession or Professional,Lawyer,NaN,NaN,Lok Sabha Election (GE)
2,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,3,PARITOSH KUMAR HALDAR,M,...,0.0,False,False,False,Post Graduate,Agriculture,NaN,NaN,NaN,Lok Sabha Election (GE)
3,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,4,SANJAY MESHACK,M,...,0.0,False,False,True,12th Pass,Business,NaN,Politics,Municipality Member,Lok Sabha Election (GE)
4,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,5,PRAKASH MINJ,M,...,0.0,False,False,False,Post Graduate,Social Work,NaN,NaN,NaN,Lok Sabha Election (GE)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91664,Mysore,3,23,1965,NaN,1,1,3,S.P.N.S.GAWDA,NaN,...,0.0,False,False,False,NaN,NaN,NaN,NaN,NaN,Lok Sabha Election (GE)
91665,Uttar_Pradesh,3,76,1965,NaN,1,1,1,N.DEO,M,...,1.0,False,False,False,NaN,NaN,NaN,NaN,NaN,Lok Sabha Election (GE)
91666,Uttar_Pradesh,3,76,1965,NaN,1,1,2,R.S.NIM,NaN,...,0.0,False,False,False,NaN,NaN,NaN,NaN,NaN,Lok Sabha Election (GE)
91667,Uttar_Pradesh,3,76,1965,NaN,1,1,3,R.SINGH,NaN,...,0.0,False,False,False,NaN,NaN,NaN,NaN,NaN,Lok Sabha Election (GE)
91668,Uttar_Pradesh,3,76,1965,NaN,1,1,4,G.DEVI,NaN,...,0.0,False,False,False,NaN,NaN,NaN,NaN,NaN,Lok Sabha Election (GE)

In [46]:
cand_list_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91669 entries, 0 to 91668
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Name              91669 non-null  object
 1   Assembly_No             91669 non-null  int64
 2   Constituency_No         91669 non-null  int64
 3   Year                    91669 non-null  int64
 4   month                   88590 non-null  float64
 5   Poll_No                 91669 non-null  int64
 6   DelimID                 91669 non-null  int64
 7   Position                91669 non-null  int64
 8   Candidate               91669 non-null  object
 9   Sex                     89466 non-null  object
 10  Party                   91648 non-null  object
 11  Votes                   91665 non-null  float64
 12  Candidate_Type          29979 non-null  object
 13  Valid_Votes             91669 non-null  int64
 14  Electors                91649 non-null  float64
 15  Constituency_Name       91669 non-null  object
 16  Constituency_Type       91669 non-null  object
 17  Sub_Region              3870 non-null   object
 18  N_Cand                  91669 non-null  int64
 19  Turnout_Percentage      91649 non-null  float64
 20  Vote_Share_Percentage   91649 non-null  float64
 21  Deposit_Lost            90562 non-null  object
 22  Margin                  91668 non-null  float64
 23  Margin_Percentage       91649 non-null  float64
 24  ENOP                    91649 non-null  float64
 25  pid                     90562 non-null  object
 26  Party_Type_TCPD         91394 non-null  object
 27  Party_ID                91435 non-null  float64
 28  last_poll               91669 non-null  bool
 29  Contested               90562 non-null  float64
 30  Last_Party              17807 non-null  object
 31  Last_Party_ID           17805 non-null  float64
 32  Last_Constituency_Name  17807 non-null  object
 33  Same_Constituency       17816 non-null  object
 34  Same_Party              17816 non-null  object
 35  No_Terms                90562 non-null  float64
 36  Turncoat                90562 non-null  object
 37  Incumbent               90562 non-null  object
 38  Recontest               90562 non-null  object
 39  MyNeta_education        25122 non-null  object
 40  TCPD_Prof_Main          26254 non-null  object
 41  TCPD_Prof_Main_Desc     5983 non-null   object
 42  TCPD_Prof_Second        2553 non-null   object
 43  TCPD_Prof_Second_Desc   681 non-null    object
 44  Election_Type           91669 non-null  object
dtypes: bool(1), float64(12), int64(8), object(24)
memory usage: 30.9+ MB

In [47]:
cand_list_2019.columns

Index(['State_Name', 'Assembly_No', 'Constituency_No', 'Year', 'month',
       'Poll_No', 'DelimID', 'Position', 'Candidate', 'Sex', 'Party', 'Votes',
       'Candidate_Type', 'Valid_Votes', 'Electors', 'Constituency_Name',
       'Constituency_Type', 'Sub_Region', 'N_Cand', 'Turnout_Percentage',
       'Vote_Share_Percentage', 'Deposit_Lost', 'Margin', 'Margin_Percentage',
       'ENOP', 'pid', 'Party_Type_TCPD', 'Party_ID', 'last_poll', 'Contested',
       'Last_Party', 'Last_Party_ID', 'Last_Constituency_Name',
       'Same_Constituency', 'Same_Party', 'No_Terms', 'Turncoat', 'Incumbent',
       'Recontest', 'MyNeta_education', 'TCPD_Prof_Main',
       'TCPD_Prof_Main_Desc', 'TCPD_Prof_Second', 'TCPD_Prof_Second_Desc',
       'Election_Type'],
      dtype='object')

In [48]:
cand_list_2019 = cand_list_2019[['State_Name', 'Constituency_No', 'Constituency_Name', 'Candidate', 'Sex', 'Party', 'Year']]

In [49]:
cand_list_2019

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
0,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,KULDEEP RAI SHARMA,M,INC,2019
1,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,VISHAL JOLLY,M,BJP,2019
2,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PARITOSH KUMAR HALDAR,M,IND,2019
3,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,SANJAY MESHACK,M,AAAP,2019
4,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PRAKASH MINJ,M,BSP,2019
...,...,...,...,...,...,...,...
91664,Mysore,23,BANGALORE,S.P.N.S.GAWDA,NaN,SWA,1965
91665,Uttar_Pradesh,76,HATHRAS,N.DEO,M,INC,1965
91666,Uttar_Pradesh,76,HATHRAS,R.S.NIM,NaN,IND,1965
91667,Uttar_Pradesh,76,HATHRAS,R.SINGH,NaN,IND,1965
91668,Uttar_Pradesh,76,HATHRAS,G.DEVI,NaN,IND,1965

In [50]:
cand_list_2019 = cand_list_2019[cand_list_2019['Year'] == 2019]

In [51]:
cand_list_2019

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
0,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,KULDEEP RAI SHARMA,M,INC,2019
1,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,VISHAL JOLLY,M,BJP,2019
2,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PARITOSH KUMAR HALDAR,M,IND,2019
3,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,SANJAY MESHACK,M,AAAP,2019
4,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PRAKASH MINJ,M,BSP,2019
...,...,...,...,...,...,...,...
8608,Maharashtra,45,SATARA,Chandrkant Tatu Khandait,MALE,Vanchit Bahujan Aaghadi,2019
8609,Maharashtra,45,SATARA,NOTA,NaN,NaN,2019
8610,Maharashtra,45,SATARA,Shivaji Narayan Bhosale,MALE,IND,2019
8611,Maharashtra,45,SATARA,Alankruta Abhijit Bichukale,FEMALE,IND,2019
8612,Maharashtra,45,SATARA,Venkateshwar Maha Swamiji (Katakadhond D.G.),MALE,Hindustan Janta Party,2019

There are some candidates whose name is enteres as 'NOTA' and Sex is NaN. Let's omit those values

In [52]:
cand_list_2019[cand_list_2019['Candidate']=='NOTA']

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
6,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,NOTA,NaN,NOTA,2019
18,Andhra_Pradesh,1,ARUKU,NOTA,NaN,NOTA,2019
30,Andhra_Pradesh,2,SRIKAKULAM,NOTA,NaN,NOTA,2019
40,Andhra_Pradesh,3,VIZIANAGARAM,NOTA,NaN,NOTA,2019
56,Andhra_Pradesh,4,VISAKHAPATNAM,NOTA,NaN,NOTA,2019
...,...,...,...,...,...,...,...
8571,West_Bengal,40,ASANSOL,NOTA,NaN,NOTA,2019
8583,West_Bengal,41,BOLPUR,NOTA,NaN,NOTA,2019
8591,West_Bengal,42,BIRBHUM,NOTA,NaN,NOTA,2019
8599,Bihar,23,SAMASTIPUR,NOTA,NaN,NaN,2019
8609,Maharashtra,45,SATARA,NOTA,NaN,NaN,2019

In [53]:
gender_counts = cand_list_2019['Sex'].value_counts()

print(gender_counts)

Sex
M         7322
F          726
MALE        12
O            6
FEMALE       3
Name: count, dtype: int64

In [54]:
nan_sex_rows = cand_list_2019[cand_list_2019['Sex'].isnull()]
nan_sex_rows

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
6,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,NOTA,NaN,NOTA,2019
18,Andhra_Pradesh,1,ARUKU,NOTA,NaN,NOTA,2019
30,Andhra_Pradesh,2,SRIKAKULAM,NOTA,NaN,NOTA,2019
40,Andhra_Pradesh,3,VIZIANAGARAM,NOTA,NaN,NOTA,2019
56,Andhra_Pradesh,4,VISAKHAPATNAM,NOTA,NaN,NOTA,2019
...,...,...,...,...,...,...,...
8571,West_Bengal,40,ASANSOL,NOTA,NaN,NOTA,2019
8583,West_Bengal,41,BOLPUR,NOTA,NaN,NOTA,2019
8591,West_Bengal,42,BIRBHUM,NOTA,NaN,NOTA,2019
8599,Bihar,23,SAMASTIPUR,NOTA,NaN,NaN,2019
8609,Maharashtra,45,SATARA,NOTA,NaN,NaN,2019

The number matches with the NOTA candidates. Let's omit these entries.

In [55]:
cand_list_2019 = cand_list_2019.dropna(subset=['Sex'])

In [56]:
cand_list_2019

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
0,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,KULDEEP RAI SHARMA,M,INC,2019
1,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,VISHAL JOLLY,M,BJP,2019
2,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PARITOSH KUMAR HALDAR,M,IND,2019
3,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,SANJAY MESHACK,M,AAAP,2019
4,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PRAKASH MINJ,M,BSP,2019
...,...,...,...,...,...,...,...
8607,Maharashtra,45,SATARA,Adv. Shivajirao Jadhav Alias Kavivary Sushilku...,MALE,IND,2019
8608,Maharashtra,45,SATARA,Chandrkant Tatu Khandait,MALE,Vanchit Bahujan Aaghadi,2019
8610,Maharashtra,45,SATARA,Shivaji Narayan Bhosale,MALE,IND,2019
8611,Maharashtra,45,SATARA,Alankruta Abhijit Bichukale,FEMALE,IND,2019
8612,Maharashtra,45,SATARA,Venkateshwar Maha Swamiji (Katakadhond D.G.),MALE,Hindustan Janta Party,2019

Let's also replace Male and Female with M and F

In [57]:
cand_list_2019[cand_list_2019['Sex']=='MALE']

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
8596,Bihar,23,SAMASTIPUR,Prince Raj,MALE,LJP,2019
8597,Bihar,23,SAMASTIPUR,Dr. Ashok Kumar,MALE,INC,2019
8598,Bihar,23,SAMASTIPUR,Suraj Kumar Das,MALE,IND,2019
8600,Bihar,23,SAMASTIPUR,Nirdosh Kumar,MALE,Jan Adhikar Party,2019
8601,Bihar,23,SAMASTIPUR,Shashi Bhushan Das,MALE,IND,2019
8604,Bihar,23,SAMASTIPUR,Vidya Nand Ram,MALE,Wazib Adhikar Party,2019
8605,Maharashtra,45,SATARA,Shriniwas Dadasaheb Patil,MALE,NCP,2019
8606,Maharashtra,45,SATARA,Shrimant Chh. Udyanraje Pratapsinhmaharaj Bhonsle,MALE,BJP,2019
8607,Maharashtra,45,SATARA,Adv. Shivajirao Jadhav Alias Kavivary Sushilku...,MALE,IND,2019
8608,Maharashtra,45,SATARA,Chandrkant Tatu Khandait,MALE,Vanchit Bahujan Aaghadi,2019
8610,Maharashtra,45,SATARA,Shivaji Narayan Bhosale,MALE,IND,2019
8612,Maharashtra,45,SATARA,Venkateshwar Maha Swamiji (Katakadhond D.G.),MALE,Hindustan Janta Party,2019

In [58]:
cand_list_2019[cand_list_2019['Sex']=='FEMALE']

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
8602,Bihar,23,SAMASTIPUR,Anamika,FEMALE,IND,2019
8603,Bihar,23,SAMASTIPUR,Ranju Devi,FEMALE,Yuva Krantikari Party,2019
8611,Maharashtra,45,SATARA,Alankruta Abhijit Bichukale,FEMALE,IND,2019

So the inconsistency is only in one region. Let's replace them now

In [59]:
cand_list_2019['Sex'] = cand_list_2019['Sex'].replace({'MALE': 'M', 'FEMALE': 'F'})
cand_list_2019

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\1196820879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019['Sex'] = cand_list_2019['Sex'].replace({'MALE': 'M', 'FEMALE': 'F'})

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party,Year
0,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,KULDEEP RAI SHARMA,M,INC,2019
1,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,VISHAL JOLLY,M,BJP,2019
2,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PARITOSH KUMAR HALDAR,M,IND,2019
3,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,SANJAY MESHACK,M,AAAP,2019
4,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PRAKASH MINJ,M,BSP,2019
...,...,...,...,...,...,...,...
8607,Maharashtra,45,SATARA,Adv. Shivajirao Jadhav Alias Kavivary Sushilku...,M,IND,2019
8608,Maharashtra,45,SATARA,Chandrkant Tatu Khandait,M,Vanchit Bahujan Aaghadi,2019
8610,Maharashtra,45,SATARA,Shivaji Narayan Bhosale,M,IND,2019
8611,Maharashtra,45,SATARA,Alankruta Abhijit Bichukale,F,IND,2019
8612,Maharashtra,45,SATARA,Venkateshwar Maha Swamiji (Katakadhond D.G.),M,Hindustan Janta Party,2019

In [60]:
cand_list_2019.drop(["Year"], inplace=True, axis=1)
cand_list_2019

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\3978083486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019.drop(["Year"], inplace=True, axis=1)

,State_Name,Constituency_No,Constituency_Name,Candidate,Sex,Party
0,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,KULDEEP RAI SHARMA,M,INC
1,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,VISHAL JOLLY,M,BJP
2,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PARITOSH KUMAR HALDAR,M,IND
3,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,SANJAY MESHACK,M,AAAP
4,Andaman_&_Nicobar_Islands,1,ANDAMAN & NICOBAR ISLANDS,PRAKASH MINJ,M,BSP
...,...,...,...,...,...,...
8607,Maharashtra,45,SATARA,Adv. Shivajirao Jadhav Alias Kavivary Sushilku...,M,IND
8608,Maharashtra,45,SATARA,Chandrkant Tatu Khandait,M,Vanchit Bahujan Aaghadi
8610,Maharashtra,45,SATARA,Shivaji Narayan Bhosale,M,IND
8611,Maharashtra,45,SATARA,Alankruta Abhijit Bichukale,F,IND
8612,Maharashtra,45,SATARA,Venkateshwar Maha Swamiji (Katakadhond D.G.),M,Hindustan Janta Party

In [61]:
cand_list_2019.rename(columns={
    'Candidate': 'Candidate Name',
    'State_Name': 'State',
    'Constituency_Name': 'Constituency',
    'Sex': 'Gender',
}, inplace=True)
cand_list_2019.columns

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\3688961598.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019.rename(columns={

Index(['State', 'Constituency_No', 'Constituency', 'Candidate Name', 'Gender',
       'Party'],
      dtype='object')

In [62]:
cand_list_2019 = cand_list_2019[['Candidate Name', 'Party', 'Gender', 'State',  'Constituency', 'Constituency_No' ]]
cand_list_2019

,Candidate Name,Party,Gender,State,Constituency,Constituency_No
0,KULDEEP RAI SHARMA,INC,M,Andaman_&_Nicobar_Islands,ANDAMAN & NICOBAR ISLANDS,1
1,VISHAL JOLLY,BJP,M,Andaman_&_Nicobar_Islands,ANDAMAN & NICOBAR ISLANDS,1
2,PARITOSH KUMAR HALDAR,IND,M,Andaman_&_Nicobar_Islands,ANDAMAN & NICOBAR ISLANDS,1
3,SANJAY MESHACK,AAAP,M,Andaman_&_Nicobar_Islands,ANDAMAN & NICOBAR ISLANDS,1
4,PRAKASH MINJ,BSP,M,Andaman_&_Nicobar_Islands,ANDAMAN & NICOBAR ISLANDS,1
...,...,...,...,...,...,...
8607,Adv. Shivajirao Jadhav Alias Kavivary Sushilku...,IND,M,Maharashtra,SATARA,45
8608,Chandrkant Tatu Khandait,Vanchit Bahujan Aaghadi,M,Maharashtra,SATARA,45
8610,Shivaji Narayan Bhosale,IND,M,Maharashtra,SATARA,45
8611,Alankruta Abhijit Bichukale,IND,F,Maharashtra,SATARA,45
8612,Venkateshwar Maha Swamiji (Katakadhond D.G.),Hindustan Janta Party,M,Maharashtra,SATARA,45

In [63]:
cand_list_2019.to_csv("../data/processed/candidates_list_2019.csv", index=False)

# Wrangling and cleaning candidate background datasets:

In [64]:
# Load the dataset
cand_bg_2024 = pd.read_csv("../data/raw/candidate_background_2024.csv")

In [65]:
cand_bg_2024.columns

Index(['Candidate', 'Party', 'Criminal Cases', 'Education', 'Age',
       'Total Assets', 'Liabilities', 'State'],
      dtype='object')

In [66]:
cand_bg_2024

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Anand Ramnath Arlekar,IND,0,10th Pass,58,"Rs 8,43,025 ~ 8 Lacs+","Rs 13,36,346 ~ 13 Lacs+",Andaman and Nicobar Islands
1,Bishnu Pada Ray,BJP,0,Graduate,73,"Rs 2,74,39,170 ~ 2 Crore+","Rs 3,02,788 ~ 3 Lacs+",Andaman and Nicobar Islands
2,D Ayyappan,CPI(M),0,Post Graduate,60,"Rs 1,32,87,710 ~ 1 Crore+","Rs 26,49,000 ~ 26 Lacs+",Andaman and Nicobar Islands
3,Dr Arun Kumar Mallik,BSP,0,Post Graduate,64,"Rs 11,18,72,135 ~ 11 Crore+",Rs 0 ~,Andaman and Nicobar Islands
4,K J B Selvaraj,AIADMK,0,Graduate,50,NaN,NaN,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,0,8th Pass,57,"Rs 7,82,132 ~ 7 Lacs+",Rs 0 ~,West Bengal
8334,Uttam Chatterjee,SUCI(C),0,Others,64,"Rs 78,44,105 ~ 78 Lacs+","Rs 2,00,000 ~ 2 Lacs+",West Bengal
8335,Vaskar Malik,IND,0,12th Pass,25,NaN,NaN,West Bengal
8336,Yasmin Islam,Social Democratic Party Of India,0,12th Pass,42,"Rs 34,36,438 ~ 34 Lacs+",Rs 0 ~,West Bengal
8337,Zubair Rabbani,SUCI(C),0,12th Pass,61,"Rs 19,127 ~ 19 Thou+",Rs 0 ~,West Bengal

We first need to change the units of Total Assets and Liabilities and convert them to integers

In [67]:
def clean_currency(value):
    if pd.isnull(value) or value.strip() == '':  # Handle NaN or empty values
        return 0
    
    # Split the string at the '~' symbol and take the part before it
    value = value.split('~')[0]
    
    # Remove non-numeric characters
    cleaned_value = re.sub(r'[^\d]', '', value)
    
    # If cleaned_value is empty after removing non-numeric characters, return 0
    if cleaned_value == '':
        return 0
    
    return int(cleaned_value)

In [68]:

# Apply the function to the 'Total Assets' and 'Liabilities' columns
cand_bg_2024['Total Assets'] = cand_bg_2024['Total Assets'].apply(clean_currency)
cand_bg_2024['Liabilities'] = cand_bg_2024['Liabilities'].apply(clean_currency)

In [69]:
cand_bg_2024

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Anand Ramnath Arlekar,IND,0,10th Pass,58,843025,1336346,Andaman and Nicobar Islands
1,Bishnu Pada Ray,BJP,0,Graduate,73,27439170,302788,Andaman and Nicobar Islands
2,D Ayyappan,CPI(M),0,Post Graduate,60,13287710,2649000,Andaman and Nicobar Islands
3,Dr Arun Kumar Mallik,BSP,0,Post Graduate,64,111872135,0,Andaman and Nicobar Islands
4,K J B Selvaraj,AIADMK,0,Graduate,50,0,0,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,0,8th Pass,57,782132,0,West Bengal
8334,Uttam Chatterjee,SUCI(C),0,Others,64,7844105,200000,West Bengal
8335,Vaskar Malik,IND,0,12th Pass,25,0,0,West Bengal
8336,Yasmin Islam,Social Democratic Party Of India,0,12th Pass,42,3436438,0,West Bengal
8337,Zubair Rabbani,SUCI(C),0,12th Pass,61,19127,0,West Bengal

In [70]:
cand_bg_2024.columns

Index(['Candidate', 'Party', 'Criminal Cases', 'Education', 'Age',
       'Total Assets', 'Liabilities', 'State'],
      dtype='object')

In [71]:
cand_bg_2024.rename(columns={
    'Candidate': 'Candidate Name',
}, inplace=True)
cand_bg_2024 = cand_bg_2024[['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases', 'Education', 'Total Assets', 'Liabilities']]
cand_bg_2024

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities
0,Anand Ramnath Arlekar,IND,58,Andaman and Nicobar Islands,0,10th Pass,843025,1336346
1,Bishnu Pada Ray,BJP,73,Andaman and Nicobar Islands,0,Graduate,27439170,302788
2,D Ayyappan,CPI(M),60,Andaman and Nicobar Islands,0,Post Graduate,13287710,2649000
3,Dr Arun Kumar Mallik,BSP,64,Andaman and Nicobar Islands,0,Post Graduate,111872135,0
4,K J B Selvaraj,AIADMK,50,Andaman and Nicobar Islands,0,Graduate,0,0
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,57,West Bengal,0,8th Pass,782132,0
8334,Uttam Chatterjee,SUCI(C),64,West Bengal,0,Others,7844105,200000
8335,Vaskar Malik,IND,25,West Bengal,0,12th Pass,0,0
8336,Yasmin Islam,Social Democratic Party Of India,42,West Bengal,0,12th Pass,3436438,0
8337,Zubair Rabbani,SUCI(C),61,West Bengal,0,12th Pass,19127,0

In [72]:
cand_bg_2024.to_csv("../data/processed/candidate_background_2024.csv", index=False)

Background data for 2019 candidates:

In [73]:
cand_bg_2019 = pd.read_csv("../data/raw/candidate_background_2019.csv")

In [74]:
cand_bg_2019

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Ayan Mandal,AITC,0,Graduate,30,"Rs 72,70,440 ~ 72 Lacs+","Rs 15,00,000 ~ 15 Lacs+",Andaman and Nicobar Islands
1,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,"Rs 1,20,000 ~ 1 Lacs+",Rs 0 ~,Andaman and Nicobar Islands
2,C U Rasheed,IND,0,12th Pass,34,"Rs 2,02,808 ~ 2 Lacs+","Rs 17,00,000 ~ 17 Lacs+",Andaman and Nicobar Islands
3,Gour Chandra Majumder,IND,0,Graduate,52,"Rs 60,62,000 ~ 60 Lacs+",Rs 0 ~,Andaman and Nicobar Islands
4,Henry,IND,0,10th Pass,50,NaN,NaN,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,0,Graduate,Unknown,"Rs 42,78,300 ~ 42 Lacs+","Rs 21,00,000 ~ 21 Lacs+",Uttarakhand
7502,Tirath Singh Rawat,BJP,0,Post Graduate,55,"Rs 1,50,32,657 ~ 1 Crore+","Rs 35,00,000 ~ 35 Lacs+",Uttarakhand
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),0,12th Pass,30,"Rs 39,41,321 ~ 39 Lacs+",Rs 0 ~,Uttarakhand
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,0,Graduate,32,NaN,NaN,Uttarakhand
7505,Vinod Prasad Notiyal,IND,0,8th Pass,43,"Rs 16,85,354 ~ 16 Lacs+",Rs 0 ~,Uttarakhand

In [75]:
# Apply the function to the 'Total Assets' and 'Liabilities' columns
cand_bg_2019['Total Assets'] = cand_bg_2019['Total Assets'].apply(clean_currency)
cand_bg_2019['Liabilities'] = cand_bg_2019['Liabilities'].apply(clean_currency)

In [76]:
cand_bg_2019

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Ayan Mandal,AITC,0,Graduate,30,7270440,1500000,Andaman and Nicobar Islands
1,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,120000,0,Andaman and Nicobar Islands
2,C U Rasheed,IND,0,12th Pass,34,202808,1700000,Andaman and Nicobar Islands
3,Gour Chandra Majumder,IND,0,Graduate,52,6062000,0,Andaman and Nicobar Islands
4,Henry,IND,0,10th Pass,50,0,0,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,0,Graduate,Unknown,4278300,2100000,Uttarakhand
7502,Tirath Singh Rawat,BJP,0,Post Graduate,55,15032657,3500000,Uttarakhand
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),0,12th Pass,30,3941321,0,Uttarakhand
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,0,Graduate,32,0,0,Uttarakhand
7505,Vinod Prasad Notiyal,IND,0,8th Pass,43,1685354,0,Uttarakhand

In [77]:
cand_bg_2019.rename(columns={
    'Candidate': 'Candidate Name',
}, inplace=True)
cand_bg_2019 = cand_bg_2019[['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases', 'Education', 'Total Assets', 'Liabilities']]
cand_bg_2019

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities
0,Ayan Mandal,AITC,30,Andaman and Nicobar Islands,0,Graduate,7270440,1500000
1,C G Saji Kumar,All India Hindustan Congress Party,48,Andaman and Nicobar Islands,0,12th Pass,120000,0
2,C U Rasheed,IND,34,Andaman and Nicobar Islands,0,12th Pass,202808,1700000
3,Gour Chandra Majumder,IND,52,Andaman and Nicobar Islands,0,Graduate,6062000,0
4,Henry,IND,50,Andaman and Nicobar Islands,0,10th Pass,0,0
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,Unknown,Uttarakhand,0,Graduate,4278300,2100000
7502,Tirath Singh Rawat,BJP,55,Uttarakhand,0,Post Graduate,15032657,3500000
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),30,Uttarakhand,0,12th Pass,3941321,0
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,32,Uttarakhand,0,Graduate,0,0
7505,Vinod Prasad Notiyal,IND,43,Uttarakhand,0,8th Pass,1685354,0

In [78]:
cand_bg_2019.to_csv("../data/processed/candidate_background_2019.csv", index=False)

In [79]:
cand_bg_2019.columns

Index(['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

Merging background data DFs:

In [80]:
cand_bg_2019['Year'] = 2019
cand_bg_2024['Year'] = 2024

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\964055193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_bg_2019['Year'] = 2019
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_14264\964055193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_bg_2024['Year'] = 2024

In [81]:
# Concatenate the dataframes
combined_bg_df = pd.concat([cand_bg_2019, cand_bg_2024], ignore_index=True)

In [82]:
combined_bg_df

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities,Year
0,Ayan Mandal,AITC,30,Andaman and Nicobar Islands,0,Graduate,7270440,1500000,2019
1,C G Saji Kumar,All India Hindustan Congress Party,48,Andaman and Nicobar Islands,0,12th Pass,120000,0,2019
2,C U Rasheed,IND,34,Andaman and Nicobar Islands,0,12th Pass,202808,1700000,2019
3,Gour Chandra Majumder,IND,52,Andaman and Nicobar Islands,0,Graduate,6062000,0,2019
4,Henry,IND,50,Andaman and Nicobar Islands,0,10th Pass,0,0,2019
...,...,...,...,...,...,...,...,...,...
15839,Uttam Barik S/O Late Narayan Barik,IND,57,West Bengal,0,8th Pass,782132,0,2024
15840,Uttam Chatterjee,SUCI(C),64,West Bengal,0,Others,7844105,200000,2024
15841,Vaskar Malik,IND,25,West Bengal,0,12th Pass,0,0,2024
15842,Yasmin Islam,Social Democratic Party Of India,42,West Bengal,0,12th Pass,3436438,0,2024
15843,Zubair Rabbani,SUCI(C),61,West Bengal,0,12th Pass,19127,0,2024

In [83]:
combined_bg_df.to_csv("../data/processed/candidate_background.csv", index=False)